:focus{
	outline: none;
}

#boxAvis{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#avisTitre{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

#avis{
	margin-top: 40px;
	width:100%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

#avis1,#avis2,#avis3{
	width: 30%;
	height: 22rem;
	background-color: white;
	flex-basis: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
}

.client-review{
	padding: 20px 30px 30px 20px;
}

#avis-plus{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 20px;
	width: 50%;
}

.client-name:hover {
	text-decoration: underline;
	cursor: pointer;
}

#add, #more{
	background-color: DarkGray;
	text-transform: uppercase;
	width: 20%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid #ddd 2px;
}

#add:hover, #more:hover{
	cursor: pointer;
	border: solid white 2px;
	color: white;
	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;          /* Likely future */      
}
