@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700');

#titre_blog
{
	font-size: 40px;
	font-family: Poppins;
	border-style: solid;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 600px;
	margin-right: 600px;
}

#blog
{
	width: 1000px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
	margin-left: 250px;
	font-family: Poppins;
}

.box
{
	position: relative;
	width: 300px;
	height: 400px;
	background: #000;
	box-shadow: 0 30px 30px rgba(0,0,0,.5);
}

.box .imgBx
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
}

.box:hover .imgBx img
{
	opacity: 0;
}

.box .content
{
	position: absolute;
	bottom: 20px;
	left: 10%;
	width: 80%;
	height: 60px;
	background: #fff;
	transition: 0.5s;
	overflow: hidden;
	padding: 15px;
	box-sizing: border-box;
}

.box:hover .content
{
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
}

.box .content h3
{
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.box .content p
{
	margin: 10px 0 0;
	padding: 0;
	opacity: 0;
	line-height: 1.2em;
	transition: 0.5s;
	text-align: justify;
}

.box:hover .content p
{
	opacity: 1;
	transition-delay: 0.5s;
}