#tendances-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 130px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        user-select: none; 

}

#titres_tendances{
	
}

#tendances-pics{
   width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: center;
}

#tendances-pics div{
}

.card {
   position: relative;
   margin: 1em;
   background: black;
   white-space: nowrap;
   box-shadow: 0px 0px 10px 0px  DimGray;
}

.card::before, .card::after {
   content: '';
   position: absolute;
   top: 1.25em;
   left: 1.25em;
   bottom: 1.25em;
   right: 1.25em; 
}

.card::before{ 
   border-top: 1px solid white;
   border-bottom: 1px solid white;
   transform: scale(0,1);
   transition: transform ease-out 250ms;
}

.card::after{ 
   border-right: 1px solid white;
   border-left: 1px solid white;
   transform: scale(1,0);
   transition: transform ease-out 250ms;
}

.card:hover{
   cursor: pointer;
}

.card:hover::before {
   transform: scale(1.05,1);
}

.card:hover::after {
   transform: scale(1,1.05);
}


.card__img{
   max-width: 100%;
   display: block;
   transition: opacity ease-out 250ms;
}

.card:hover .card__img {
  opacity: .4;
}

.card__text{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   color: white;
   opacity: 0;
   transition: opacity ease-out 250ms;
}

.card:hover .card__text {
   opacity: 1;
}

.card__title {
 font-size: 2rem;
 color: white;
 margin-bottom: 0;
 display: flex;
 justify-content: center;
}

.card__body{
  display: flex;
  justify-content: center;
}
